body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

html {
    font-family: 'Open Sans', sans-serif;
}

a.brand-logo {
    font-family: 'Pacifico', cursive;
}

div.nav-wrapper {
    background-color: #ef476f;
}

h4.page-header {
    background-color: #ffd166;
    text-transform: uppercase;
    margin-top: 0;
    padding: 0.2em;
    font-weight: 700;
    color: #333;
}

.home-icon {
    font-size: 8em;
    display: flex;
    justify-content: center;
    color: #06d6a0;
}

#filter-row {
    background: #FFF;
    z-index: 5;
}

#filter-row.pinned {
    width: 90%;
}

#filter-row .switch {
    margin-bottom: 1em;
}

#content-row {
    margin-top: 0;
}

#content-row.filter-margin-top {
    margin-top: 260px;
}

/* --------------------- allergen key ----------------------- */

#allergen-key {
    display: grid;
    grid-template-columns: repeat(7, 7fr);
    margin-top: 55px;
    grid-gap: 10px;
}

#allergen-key span.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    margin-right: 5px;
}

#allergen-key div.single-allergen {
    font-size: 11px;
    text-transform: uppercase;
}

/* --------------------- recipe card ------------------------ */

.card.small .card-image {
    max-height: 100%;
    height: 100%;
}

img.recipe-picture {
    height: 100%;
    background-position: center;
    background-size: cover;
}

img.recipe-picture.recipe-picture-svg {
    background-size: auto;
    background-repeat: no-repeat;
}

label.allergen-label {
    padding-right: 18px;
}

span.allergen-tick-span {
    padding-left: 25px !important;
}

#clear-filters {
    margin-left: 1em;
}

.edit-button { 
    background-color: #26547c;
}

.delete-button {
    background-color: #06d6a0;
}

.top { 
    position: absolute;                  
    top: 10px;                          
    left: 0; 
}

/*    This flex stuff for the show page is not quite right....

.flex-container{
    display: flex;
}

.space-between { 
  justify-content: space-between; 
}  
*/

li.icon, li.footer-socials, li.footer-links {
    display: inline;
    padding: 0 12px 0 12px;
} 

.icon {
  /*  
    padding: 5px;
    width: 50px;
    height: 50px;
    margin: 5px;
    line-height: 39px;
*/
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;

    line-height: 30px;

    /*border-radius: 50px;*/
}
.card .card-content .card-title {
    font-weight: 600;

    background: #ef476f;
    color: #FFF !important;

    text-align: center;
    margin-bottom: 0;
    text-transform: capitalize;
}

.card .allergen-icons {
    display: grid;
    grid-template-columns: repeat(7, 7fr);
    grid-template-rows: 30px 30px;
    grid-auto-flow: column;
    background: rgba(0, 0, 0, 0.3);
}

.card .card-content {

    position: absolute;
    bottom: 0;
    width: 100%;

    padding: 0;
}

/* ------------------ list of allergens on show recipe page  ---------------- */
.celery {
    background: hsl(120, 100%, 40%);
    color: hsl(120, 100%, 10%);
}

.crustaceans {
    background: hsl(24, 100%, 50%);
    color: hsl(24, 100%, 20%);
}

.eggs {
    background: hsl(20, 47%, 64%);
    color: hsl(20, 47%, 34%);
}

.fish {
    background: hsl(240, 20%, 70%);
    color: hsl(240, 20%, 40%);
}

.gluten {
    background: hsl(15, 66%, 42%);
    color: hsl(15, 66%, 12%);
}

.lupin {
    background: hsl(285, 100%, 40%);
    color: hsl(285, 100%, 10%);
}

.milk {
    background: hsl(210, 100%, 60%);
    color: hsl(210, 100%, 30%);
}

.molluscs {
    background: hsl(300, 100%, 70%);
    color: hsl(300, 100%, 40%);
}

.mustard {
    background: hsl(48, 98%, 42%);
    color: hsl(48, 98%, 12%);
}

.peanuts {
    background: hsl(42, 86%, 78%);
    color: hsl(42, 86%, 48%);
}

.sesame {
    background: hsl(60, 92%, 62%);
    color: hsl(60, 92%, 32%);
}

.soybeans {
    background: hsl(120, 50%, 40%);
    color: hsl(120, 50%, 10%);
}

.sulphur {
    background: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 30%);
}

.treenuts {
    background: hsl(30, 100%, 20%);
    color: hsl(30, 100%, 0%);
}

/* ------------------ Footer ---------------- */

.page-footer {
    background-color: #ef476f;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
}

.footer a {
    font-size: large;
    color: #ffffff;
    text-decoration: none;
}

.footer, footer div.row, footer ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
}

/* Ensure filter row is correct size at different breakpoints */
@media only screen and (min-width: 601px) {

#filter-row.pinned {
    width: 85%;
}

}

@media only screen and (min-width: 993px) {

#filter-row.pinned {
    width: 70%;
    max-width: 1280px;
}

}

