div.nav-wrapper {
    background-color: #ef476f;
}

h4.page-header {
    background-color: #ffd166;
}

img.recipe-picture {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.edit-button { 
    background-color: #26547c;
}

.delete-button {
    background-color: #06d6a0;
}