{% extends "base.html" %}


{% block header %}
<h4 class=" page-header center-align">Home</h4>
{% endblock%}

{% block content %}

<div class="row">
    <a href="{{ url_for('all_recipes') }}">
        <div class="col s6 m3" >
            <div class="card small">
                <div class="card-image">
                    <img class="recipe-picture" style="background-image: url({{ url_for('static', filename='images/all_recipes.png') }});">
                </div>
                <div class="card-content">
                    <div class="card-title">Show All Recipes</div>
                </div>
            </div>
        </div>
    </a>
    {% for x in categories %}
        <a href="{{ url_for('recipes_cat', category=x.category) }}">
            <div class="col s6 m3" >
                <div class="card small">
                    <div class="card-image">
                        <img class="recipe-picture" style="background-image: url({{ url_for('static', filename='images/' + x.category + '.png')}});">
                    </div>
                    <div class="card-content">
                        <div class="card-title">{{ x.category }}</div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

{% endblock %}
