{% extends "base.html" %}
{% block header %}
<h4 class=" page-header center-align">Edit Recipe</h4>
{% endblock%}

{% block content %}



    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipes_id=recipes._id) }}">
            <!-- Category and name -->
            <div class="row">
                <div class="input-field col s6">
                    <select id="category" name="category" class="validate" required>
                        <option value="" disabled>Choose Category</option>
                        {% for category in categories %}
                            {% if category.category == recipes.category %}
                                <option value="{{ category.category }}" selected>{{ category.category }}</option>
                            {% else %}
                                <option value="{{ category.category }}">{{ category.category }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    <label for="category">Select Dish Category</label>
                </div>
                <div class="input-field col s6">
                    <input id="recipe_name" name="recipe_name" minlength="3" maxlength="40"
                        value="{{ recipes.recipe_name }}" type="text" class="validate">
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- Servings and time -->
            <div class="row">
                <div class="input-field col s6">
                    <input id="servings" name="servings" value="{{ recipes.servings }}" type="text" class="validate">
                    <label for="servings">Servings</label>
                </div>
                <div class="input-field col s6">
                    <input id="time" name="time" value="{{ recipes.time }}" type="text" class="validate">
                    <label for="time">Time</label>
                </div>
            </div>
            <!-- Allergens -->
            <div class="row">
                <div class="input-field col s12">
                    Tick all allergens contained within the dish.
                    <div>
                        {% for x in allergen %}
                        {% set lowername = ''.join(x.allergen_name.split()).lower() %}
                            <label for="{{ lowername }}">
                                {% if lowername in recipes.allergen_name %}
                                    <input type="checkbox" id="{{ lowername }}" name="allergen_name" value="{{ lowername }}" class="validate" checked/>
                                    <span>{{ x.allergen_name }}</span>
                                {% else %}
                                    <input type="checkbox" id="{{ lowername }}" name="allergen_name" value="{{ lowername }}" class="validate"/>
                                    <span>{{ x.allergen_name }}</span>
                                {% endif %}
                            </label>
                       {% endfor %}
                    </div>
                </div>
            </div>
            <!-- image link -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="image" name="image" value="{{ recipes.image }}" type="text" class="validate">
                    <label for="image">To add an image, enter a valid URL</label>
                </div>
            </div>
            <!-- Ingredients and method -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="ingredients" name="ingredients" minlength="4"
                    maxlength="500" class="materialize-textarea validate" required>{{ recipes.ingredients }}</textarea>
                    <label for="ingredients">Ingredients, separated by comma</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="method" name="method" minlength="4"
                    maxlength="1000" class="materialize-textarea validate" required>{{ recipes.method }}</textarea>
                    <label for="method">Method, separated by comma</label>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('my_recipes') }}" class="btn">Cancel</a>
                    <button class="btn waves-effect waves-light" type="submit">Edit Recipe
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>



{% endblock %}
