{% extends "base.html" %}


{% block header %}
<h4 class=" page-header center-align">Home</h4>
{% endblock%}

{% block content %}
    

    <div>
        <div>
            Welcome to Recipease, your friendly neighbourhood recipe website with a focus on allergen-free tasty meals and treats.
        </div>
        <br>
        <div>Log in to save your favourite recipes into a collection, and add your own recipes, or simply browse the recipes as a guest.
        </div>
        <br>
        <div class="row">
            <div class="col s4">
                <i class="fas fa-pepper-hot home-icon"></i>
                <h5>Filter by up to 14 allergens</h5>
                <p>Recipease allows you to filter the recipes by the 14 most common food allergens. Select as many as you like!</p>
            </div>
            <div class="col s4">
                <i class="fas fa-edit home-icon"></i>
                <h5>Add your own recipes</h5>
                <p>Grandma's recipe card for her awesome chocolate cake looking faded and dog-eared? Add your favourite recipes here so you always have them to hand.</p>
            </div>
            <div class="col s4">
                <h5>blablabla</h5>
                <p>We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components</p>
            </div>
        </div>
    </div>
    
    

{% endblock %}

