{% extends "base.html" %}

{% block header %}
<div id="hero-container">
    <div id="hero-logo" class="brand-logo">Recipease</div>
    <img id="hero-image" src="{{ url_for('static', filename='images/rainbow-food.png') }}" alt="Rainbow Food hero image">
</div>
{% endblock%}

{% block content %}
    <div>
        <div>
            Welcome to Recipease, your friendly neighbourhood recipe website with a focus on allergen-free tasty meals and treats.
        </div>
        <br>
        <div>
            Do you find it hard to search for recipes without your allergens in them? Is there a nut allergy in your family, but your sister in law is a coeliac and coming over for coffee, and it’s almost impossible to find a cake recipe that satisfies both needs and is tasty too? 
        </div>
        <div>
            You’ve come to the right place, because this website is built with allergies in mind!
        </div>
        <br>
        {% if not user %}
        <div><a href="{{ url_for('login') }}">Log in</a> or <a href="{{ url_for('register') }}">Register</a> to save your own recipes into a collection, or simply <a href="{{ url_for('recipes') }}">browse the recipes</a> as a guest. Multiple allergen filters can be selected so that you can feel at ease that your meal is right for you.
        </div>
        <br>
        {% endif %}
        <div id="home-content" class="row">
            <div class="col s4">
                <i class="fas fa-pepper-hot home-icon"></i>
                <h5>Filter by up to 14 allergens</h5>
                <p>Recipease allows you to filter the recipes by the 14 most common food allergens. Select as many as you like!</p>
            </div>
            <div class="col s4">
                <i class="fas fa-edit home-icon"></i>
                <h5>Add your own recipes</h5>
                <p>Grandma's recipe card for her awesome chocolate cake looking faded and dog-eared? Add your favourite recipes here so you always have them to hand.</p>
            </div>
            <div class="col s4">
                <i class="fas fa-grin-alt home-icon"></i>
                <h5>Feel at ease</h5>
                <p>Feel at ease at Recipease... If you want to, as a registered user, you will never see recipes with your allergens in them.</p>
            </div>
        </div>
    </div>
    
{% endblock %}
