{% extends "base.html" %}
{% block header %}
<h4 class=" page-header center-align"> My Recipes</h4>
{% endblock%}

{% block content %}

    
        <div id="my-recipes" class="row">
            <h4>Hi {{ username }}!</h4>
            {% if recipes.count() > 0 %}
            <h5>Here are your recipes:</h5>
            {% else %}
            <h5>Looks like you don't have any recipes yet.</h5>
            <p>Try adding one on the <a href="{{ url_for('add_recipe') }}">Add Recipe</a> page!</p>
            {% endif %}
            {% for recipe in recipes %}
            <div class="col s6 m3">
                <div class="card small activator">
                    <div class="card-image activator">
                        {% if recipe.image %}
                            <div class="recipe-picture activator" style="background-image: url({{ recipe.image }});"></div>
                        {% else %}
                            <div class="recipe-picture activator" style="background-image: url({{ url_for('static', filename='images/' + recipe.category + '.svg')}});"></div>
                        {% endif %}
                    </div>
                    <div class="activator card-content">
                        <span class="activator card-title blue-text text-darken-2 truncate">{{ recipe.recipe_name }}</span>
                        <div class="activator allergen-icons">
                            {% for x in recipe.allergen_name %}
                            {% set initial = x[:2] %}
                                <div title="{{ x }}" class="icon {{ x }} tooltipped" data-position="top" data-tooltip="{{ x }}">{{ initial }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-reveal">
                        <i class="card-title material-icons right">close</i>
                        <span class="card-title text-darken-4 truncate">{{ recipe.recipe_name }}</span>
                        <div class="details">
                            <div class="right-align">by {{ recipe.created_by }}</div>
                            <hr>
                            <div class="center-align"><i class="fas fa-clock"></i>{{ recipe.time }}</div>
                            <div class="center-align"><i class="fas fa-users"></i>{{ recipe.servings }}</div>
                        </div>
                        <div class="view-button center-align">
                            <a class="waves-effect waves-light btn-small" href="{{ url_for('show_recipe', recipes_id=recipe._id) }}">View Recipe</a>
                        </div>
                    </div>
                    <div class="top center-align">
                        <a href="{{ url_for('edit_recipe', recipes_id=recipe._id) }}" class="waves-effect waves-light btn-small edit-button">Edit</a> 
                        <button data-target="modal1" class="waves-effect waves-light btn-small modal-trigger">Delete</button>
                    </div>
                </div>

                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                    <h4>Are you sure you want to delete this recipe?</h4>
                        <p>Deleted recipes cannot be retrieved.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_recipe', recipes_id=recipe._id) }}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}
