{% extends "base.html" %}

{% block header %}
<h4 class=" page-header center-align">Recipes</h4>
{% endblock%}

{% block content %}

    <div class="input-field col s12">
        <select multiple id="allergen_name" name="allergen_name" type="checkbox" class="validate">
            <option value="" disabled selected></option>
            {% for allergen in allergens %}
                <option value="{{ allergen.name }}">{{ allergen.name }}</option>
            {% endfor %}
        </select>
        <button id="apply-filters">Apply Filters</button>
        <!-- <i class="material-icons prefix">error_outline</i> -->
        <label for="allergen_name">No recipes with the following allergens:</label> <!-- Make text a little larger? -->
    </div>
    
        <div class="row">
            {% for recipes in recipes %}
            <div class="activator col s6 m3">
                <div class="card small activator">
                    <div class="activator card-image">
                        {% if recipes.image %}
                        <img class="recipe-picture activator" src={{ recipes.image }}>
                        {% else %}
                        <img class="recipe-picture activator" src="{{ url_for('static', filename='images/' + recipes.category + '.png' ) }}">
                        {% endif %}
                        <span class="activator card-title blue-text text-darken-2">{{ recipes.recipe_name }}</span>
                    </div>
                    <div class="activator card-content">
                         <ul class="activator" id="card-allergens">
                            {% for x in recipes.allergen_name %}
                                <li class="icon {{ x }}">{{ x }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ recipes.recipe_name }}<i class="material-icons right">close</i></span>
                        time: {{ recipes.time }}<br>
                        serves: {{ recipes.servings }}<br>
                        by: {{ recipes.created_by }}<br>
                        <a href="{{ url_for('show_recipe', recipes_id=recipes._id) }}">View recipe</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    
    

{% endblock %}
