{% extends "base.html" %}

{% block header %}
<h4 class=" page-header center-align">Recipes</h4>
{% endblock%}

{% block content %}

    <div class="input-field col s12">
        <div>No recipes with the following allergens:</div>
        <select multiple id="allergen_name" name="allergen_name" type="checkbox" class="validate">
            <option value="" disabled>Select allergen(s)</option>
            {% for allergen in allergens %}
                {% set lowername = ''.join(allergen.name.split()).lower() %}
                {% if lowername in filters %}
                    <option value="{{ lowername }}" selected>{{ allergen.name }}</option>
                {% elif lowername in user_allergens %}
                    <option value="{{ lowername }}" disabled>{{ allergen.name }}</option>
                {% else %}
                    <option value="{{ lowername }}">{{ allergen.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button id="apply-filters">Apply Filter</button>
        <button id="clear-filters">Clear Filter</button>
        <!-- <i class="material-icons prefix">error_outline</i> -->
    </div>
    
        <div class="row">
            {% for recipe in recipes %}
            <div class="activator col s6 m3">
                <div class="card small activator">
                    <div class="activator card-image">
                        {% if recipe.image %}
                        <img class="recipe-picture activator" src="{{ recipe.image }}">
                        {% else %}
                        <img class="recipe-picture activator" src="{{ url_for('static', filename='images/' + recipe.category + '.png' ) }}">
                        {% endif %}
                    </div>
                    <div class="activator card-content">
                        <span class="activator card-title blue-text text-darken-2 truncate">{{ recipe.recipe_name }}</span>
                        <div class="activator allergen-icons">
                            {% for x in recipe.allergen_name %}
                            {% set initial = x[0] %}
                                <div class="icon {{ x }}">{{ initial }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ recipe.recipe_name }}<i class="material-icons right">close</i></span>
                        time: {{ recipe.time }}<br>
                        serves: {{ recipe.servings }}<br>
                        by: {{ recipe.created_by }}<br>
                        <a href="{{ url_for('show_recipe', recipes_id=recipe._id) }}">View recipe</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    
    

{% endblock %}
