{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Register</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel teal">
                 <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="username" name="username" type="text" minlength="5"
                        maxlength="20" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">https</i>
                        <input id="password" name="password" type="password" minlength="5"
                        maxlength="20" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- allergens -->
                <div class="input-field col s12">
                    <select multiple id="allergens" name="allergens" type="checkbox" class="validate">
                        <option value="" disabled selected>            </option>
                        <option value="Celery">Celery</option>
                        <option value="Gluten">Cereal with gluten</option>
                        <option value="Crustateans">Crustateans</option>
                        <option value="Eggs">Eggs</option>
                        <option value="Fish">Fish</option>
                        <option value="Lupin">Lupin</option>
                        <option value="Milk">Milk</option>
                        <option value="Molluscs">Molluscs</option>
                        <option value="Mustard">Mustard</option>
                        <option value="Peanuts">Peanuts</option>
                        <option value="Sesame">Sesame</option>
                        <option value="Soybeans">Soybeans</option>
                        <option value="Sulphur">Sulphur dioxide and sulphites</option>
                        <option value="Nuts">Tree nuts</option>
                    </select>
                    <!-- <i class="material-icons prefix">error_outline</i> -->
                    <label>Are you allergic to anything?</label> <!-- Make text a little larger? -->
                </div>
                <!-- register  -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large">
                        Register <i class="material-icons prefix">how_to_reg</i>
                    </button>
                </div>

                    
        </form>
    </div>

{% endblock %}