{% extends "base.html" %}
{% block header %}
<h4 class=" page-header center-align">SHOW RECIPE</h4>
{% endblock%}

{% block content %}


    <div class="divider"></div>
        <div class="section">
            <h5>{{ recipes.recipe_name }}</h5>
            
            <div class="row flex-container space-between">
                <span class="col s4">Servings: {{ recipes.servings }}</span>
                <span class="col s4">Added by: {{ recipes.created_by }}</span>
                <span class="col s4">Time: {{ recipes.time }}</span>
            </div>
            
            <p class="right-align">Add to Favourites</p>
            <p class="right-align">share</p>
            <ul>
                {% for x in recipes.allergen_name %}
                    <li class="icon {{ x }}">{{ x }}</li>
                {% endfor %}
                <li class="icon">1</li>
            </ul>
           
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s6">
                <h5>Ingredients</h5>
                
                <ul>
                {% for ingredient in ingredients %}
                    <li>{{ ingredient.strip().capitalize() }}</li>
                {% endfor %}
                </ul>
              
            </div>
            <div class="col s6">
                <h5>Method</h5>
                <ul>
                {% for method in methods %}
                    <li>{{ method.strip().capitalize() }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="divider"></div>
        
          

    
    
{% endblock %}