{% extends "base.html" %}
{% block header %}
<h4 class=" page-header center-align">SHOW RECIPE</h4>
{% endblock%}

{% block content %}


    <div class="divider"></div>
        <div class="section">
            <h5>Recipe Name</h5>
            <div class="row">
                <span class="col s4">Serving</span>
                <span class="col s4">Added by</span>
                <span class="col s4">Time</span>
            </div>
            <p class="right-align">Add to Favourites</p>
            <p class="right-align">share</p>
            <p>Allergens</p>

        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s6">
                <h5>Ingredients</h5>
                <p>Ingredient list</p>
            </div>
            <div class="col s6">
                <h5>Method</h5>
                <p>Method list</p>
            </div>
        </div>
        <div class="divider"></div>
        
          

    
    
{% endblock %}