{% extends "base.html" %}
{% block header %}
<h4 class=" page-header center-align">{{ recipes.recipe_name }}</h4>
{% endblock%}

{% block content %}


    <div class="section">
        <div class="row flex-container space-between">
            {% if recipes.image %}
                <img class="col s8" src="{{ recipes.image }}">
            {% else %}
                <img class="col s8" src="{{ url_for('static', filename='images/' + recipes.category + '.svg') }}">
            {% endif %}
            <div class="col s4">
                <div class="row">
                    <div>Added by:</div>
                    <div class="list-item">{{ recipes.created_by }}</div>
                </div>
                <div class="row">
                    <div>Time:</div>
                    <div class="list-item">{{ recipes.time }}</div>
                </div>
                <div class="row">
                    <div>Serves:</div>
                    <div class="list-item">{{ recipes.servings }}</div>
                </div>
                <div class="row">
                    <div>Contains:</div>
                    <ul>
                        {% for x in recipes.allergen_name %}
                            <li class="icon {{ x }}">{{ x }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12">
            <h5>Ingredients</h5>
            <ul>
            {% for ingredient in ingredients %}
                <li><span>{{ ingredient.strip().capitalize() }}</span></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12">
            <h5>Method</h5>
            <ol>
            {% for method in methods %}
                <li><span>{{ method.strip().capitalize() }}</span></li>
            {% endfor %}
            </ol>
        </div>
    </div>
    <div class="divider"></div>

{% endblock %}